*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:#050505;
color:white;
}

header{
height:100vh;

background:
linear-gradient(
rgba(0,0,0,.6),
rgba(0,0,0,.85)
),
url("images/stadium.jpg");

background-size:cover;
background-position:center;
}

nav{
display:flex;
justify-content:space-between;
align-items:center;
padding:25px 8%;
}

nav ul{
display:flex;
gap:30px;
list-style:none;
}

nav a{
color:white;
text-decoration:none;
}

nav a:hover{
color:#00d9ff;
}

.logo{
font-size:1.8rem;
font-weight:bold;
}

.hero{
height:80vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
}

.hero h1{
font-size:4rem;
}

.card{
background:rgba(255,255,255,.08);
backdrop-filter:blur(15px);
padding:25px;
border-radius:20px;
margin:20px;
}

section{
padding:50px 10%;
}

button{
padding:12px 20px;
border:none;
border-radius:30px;
background:#00d9ff;
cursor:pointer;
}